html {
  font-size: 312.5%; }

@media screen and (max-width: 359px) and (orientation: portrait) {
  html {
    font-size: 266.67%; } }
@media screen and (min-width: 360px) and (max-width: 374px) and (orientation: portrait) {
  html {
    font-size: 300%; } }
@media screen and (min-width: 384px) and (max-width: 399px) and (orientation: portrait) {
  html {
    font-size: 320%; } }
@media screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait) {
  html {
    font-size: 333.33%; } }
@media screen and (min-width: 414px) and (max-width: 431px) and (orientation: portrait) {
  html {
    font-size: 345%; } }
@media screen and (min-width: 432px) and (max-width: 479px) and (orientation: portrait) {
  html {
    font-size: 360%; } }
@media screen and (min-width: 480px) and (max-width: 639px) and (orientation: portrait) {
  html {
    font-size: 400%; } }
@media screen and (min-width: 640px) and (orientation: portrait) {
  html {
    font-size: 533.33%; } }
html, body {
  margin: 0;
  padding: 0; }

.foot-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6vw 0vw 1.6vw 0vw;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999; }
  .foot-bar .barItem {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    cursor: pointer; }
    .foot-bar .barItem .bar_icon {
      width: 5.8666666667vw;
      height: 5.8666666667vw;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
      .foot-bar .barItem .bar_icon img {
        width: 100%;
        height: 100%; }
    .foot-bar .barItem .bar_font {
      font-size: 2.6666666667vw;
      line-height: 3.7333333333vw;
      color: #BFBFBF;
      text-align: center;
      margin-top: 1.0666666667vw; }
    .foot-bar .barItem.active .bar_font {
      color: #65DAF0; }
    .foot-bar .barItem:first-child .bar_icon {
      background-image: url("../icon/home0_icon.png"); }
    .foot-bar .barItem:first-child.active .bar_icon {
      background-image: url("../icon/home_icon.png"); }
    .foot-bar .barItem:first-child + .barItem .bar_icon {
      background-image: url("../icon/classify0_icon.png"); }
    .foot-bar .barItem:first-child + .barItem.active .bar_icon {
      background-image: url("../icon/classify_icon.png"); }
    .foot-bar .barItem:first-child + .barItem + .barItem .bar_icon {
      background-image: url("../icon/vip0_icon.png"); }
    .foot-bar .barItem:first-child + .barItem + .barItem.active .bar_icon {
      background-image: url("../icon/vip_icon.png"); }
    .foot-bar .barItem:first-child + .barItem + .barItem + .barItem .bar_icon {
      background-image: url("../icon/cart0_icon.png"); }
    .foot-bar .barItem:first-child + .barItem + .barItem + .barItem.active .bar_icon {
      background-image: url("../icon/cart_icon.png"); }
    .foot-bar .barItem:first-child + .barItem + .barItem + .barItem + .barItem .bar_icon {
      background-image: url("../icon/personal0_icon.png"); }
    .foot-bar .barItem:first-child + .barItem + .barItem + .barItem + .barItem.active .bar_icon {
      background-image: url("../icon/personal_icon.png"); }

.search-bg {
  position: absolute;
  top: 6.1333333333vw;
  left: 0;
  width: 100%;
  height: 11.7333333333vw;
  z-index: 99;
  box-sizing: border-box;
  padding: 0 5.3333333333vw;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .search-bg .search-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9.6vw;
    background-color: white;
    opacity: 0.8;
    border-radius: 8vw;
    overflow: hidden; }
    .search-bg .search-box .sure-btn {
      margin-right: 2.6666666667vw;
      font-size: 3.2vw;
      background-color: #aeaeae;
      padding: 0.5333333333vw 1.6vw;
      color: #fff;
      border-radius: 1.0666666667vw; }
    .search-bg .search-box > img {
      width: 3.7333333333vw;
      height: auto;
      margin-left: 8vw;
      margin-right: 2.6666666667vw; }
    .search-bg .search-box > input {
      outline: none;
      border: none;
      flex: 1;
      font-size: 4.2666666667vw;
      padding-right: 2.6666666667vw;
      color: black;
      background-image: url("../assets/imgs/home/search_btn.png");
      background-repeat: no-repeat;
      background-position: left 39.4666666667vw center;
      background-size: 3.7333333333vw;
      padding-left: 5.3333333333vw; }
      .search-bg .search-box > input::placeholder {
        padding-left: 37.3333333333vw;
        color: #ffffff; }
    .search-bg .search-box > input::placeholder {
      color: rgba(0, 0, 0, 0.5); }

.page-home {
  padding-top: 13.3333333333vw;
  background-position: center 13.3333333333vw;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 100%;
  min-height: 177.8666666667vw;
  background-color: #EFEFF4; }
  .page-home .swiper-box {
    display: block;
    height: 69.3333333333vw;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    margin-top: -21.3333333333vw; }
    .page-home .swiper-box .slide-img {
      width: 100%;
      height: 69.3333333333vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2.6666666667vw;
      overflow: hidden; }
    .page-home .swiper-box .swiper-pagination {
      z-index: 1000;
      bottom: 5.3333333333vw; }
      .page-home .swiper-box .swiper-pagination .swiper-pagination-bullet {
        width: 1.6vw;
        height: 1.6vw; }
      .page-home .swiper-box .swiper-pagination .swiper-pagination-bullet-active {
        background: #000; }
  .page-home .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93.0666666667vw;
    padding: 2.6666666667vw 0vw 0;
    margin: 0 auto;
    margin-top: -4vw;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2.6666666667vw;
    position: relative;
    z-index: 199; }
    .page-home .nav-content .column-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 2.6666666667vw; }
      .page-home .nav-content .column-list .hidden {
        display: none !important; }
      .page-home .nav-content .column-list .icon-btn {
        width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .page-home .nav-content .column-list .icon-btn > img {
          width: 9.6vw;
          height: auto; }
        .page-home .nav-content .column-list .icon-btn > span {
          font-size: 3.2vw;
          color: #000000;
          margin: 1.0666666667vw 0; }
    .page-home .nav-content .column-list2 .icon-btn > img {
      width: 6.9333333333vw; }
  .page-home .ad-banner {
    box-align: border-box;
    width: 93.0666666667vw;
    margin: 5.3333333333vw auto 0; }
    .page-home .ad-banner .ad-header {
      width: 100%;
      height: auto;
      display: block; }
    .page-home .ad-banner .ad-main {
      width: 100%;
      min-height: 45.0666666667vw;
      background: url("../assets/imgs/home/specialOffer_bg.png");
      background-size: 100% auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 2.6666666667vw;
      border-top-left-radius: 9.6vw;
      border-top-right-radius: 9.6vw;
      margin-top: -2.6666666667vw; }
      .page-home .ad-banner .ad-main .list {
        margin-top: 2.6666666667vw;
        width: 28.8vw;
        border-radius: 2.6666666667vw;
        overflow: hidden; }
        .page-home .ad-banner .ad-main .list .list-img {
          width: 100%;
          height: 28.8vw;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-color: #666; }
        .page-home .ad-banner .ad-main .list .list-price {
          text-align: center;
          font-size: 4.5333333333vw;
          color: #fff;
          width: 100%;
          background-color: #FF9300;
          height: 7.4666666667vw;
          line-height: 7.4666666667vw;
          font-weight: bold; }
  .page-home .sub-title {
    font-size: 4.2666666667vw;
    color: #000;
    text-align: center;
    padding: 3.2vw 0 0.5333333333vw;
    font-weight: bold;
    border-top: solid #F5F6F9 2.1333333333vw; }
  .page-home .types-box .slide-box {
    width: 100%;
    height: 6.9333333333vw;
    padding-left: 30.1333333333vw;
    margin-top: 4.2666666667vw;
    position: relative; }
    .page-home .types-box .slide-box .slide-title {
      font-size: 5.3333333333vw;
      line-height: 7.4666666667vw;
      color: #000000;
      position: absolute;
      left: 3.4666666667vw;
      top: 0vw; }
    .page-home .types-box .slide-box .scroll-wrapper {
      width: 100%; }
      .page-home .types-box .slide-box .scroll-wrapper .wrapper {
        width: 100%;
        overflow-x: auto; }
        .page-home .types-box .slide-box .scroll-wrapper .wrapper .content {
          list-style: none;
          white-space: nowrap;
          width: auto;
          padding-inline-start: 0px;
          margin: 0; }
          .page-home .types-box .slide-box .scroll-wrapper .wrapper .content li {
            display: inline-block;
            padding-right: 5.3333333333vw;
            font-size: 4.2666666667vw;
            line-height: 7.4666666667vw;
            color: #BFBFBF; }
            .page-home .types-box .slide-box .scroll-wrapper .wrapper .content li:last-child {
              padding-right: 2.6666666667vw; }
            .page-home .types-box .slide-box .scroll-wrapper .wrapper .content li.active {
              color: #FF9F0E; }
  .page-home .types-box .goods-content {
    box-sizing: border-box;
    padding: 1.0666666667vw 3.4666666667vw;
    background-color: #EFEFF4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box; }
    .page-home .types-box .goods-content .list {
      width: 45.3333333333vw;
      min-height: 69.3333333333vw;
      background-color: #fff;
      margin-bottom: 3.2vw;
      border-radius: 1.6vw;
      box-sizing: border-box;
      border-radius: 1.6vw;
      overflow: hidden; }
      .page-home .types-box .goods-content .list .goods-img {
        width: 100%;
        height: 45.3333333333vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #fff; }
      .page-home .types-box .goods-content .list .goods-info {
        box-sizing: border-box;
        padding: 2.6666666667vw 1.6vw 0.5333333333vw; }
        .page-home .types-box .goods-content .list .goods-info .detail {
          font-size: 3.7333333333vw;
          line-height: 5.3333333333vw;
          color: #000;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          /*! autoprefixer: off */
          -webkit-box-orient: vertical;
          /* autoprefixer: on */ }
        .page-home .types-box .goods-content .list .goods-info .preferential {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin: 1.0666666667vw 0 1.0666666667vw;
          padding-right: 1.6vw; }
          .page-home .types-box .goods-content .list .goods-info .preferential .discount-price {
            color: #FF0000;
            font-size: 4.8vw;
            line-height: 6.4vw; }
            .page-home .types-box .goods-content .list .goods-info .preferential .discount-price span {
              color: #FF0000;
              font-size: 3.4666666667vw;
              line-height: 4.8vw;
              font-weight: normal;
              position: relative;
              top: -0.5333333333vw; }
          .page-home .types-box .goods-content .list .goods-info .preferential .is-self {
            font-size: 2.6666666667vw;
            line-height: 6.4vw;
            align-self: flex-end;
            color: #BFBFBF; }
        .page-home .types-box .goods-content .list .goods-info .price-left {
          display: flex;
          align-items: center;
          flex: 1; }
          .page-home .types-box .goods-content .list .goods-info .price-left .origin-price {
            color: #BFBFBF;
            font-size: 2.6666666667vw;
            line-height: 3.7333333333vw;
            position: relative;
            margin-left: 0.5333333333vw; }
        .page-home .types-box .goods-content .list .goods-info .price {
          display: flex;
          justify-content: left;
          align-items: center;
          margin-top: 2.1333333333vw;
          margin-bottom: 2.6666666667vw;
          padding-right: 1.6vw; }
          .page-home .types-box .goods-content .list .goods-info .price .coupon-bg {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #2BCBF0;
            font-size: 2.6666666667vw;
            min-width: 13.0666666667vw;
            height: 4.8vw;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border: 0.2133333333vw solid #2BCBF0;
            border-radius: 1.0666666667vw;
            padding: 0 1.3333333333vw;
            margin-right: 1.6vw; }
            .page-home .types-box .goods-content .list .goods-info .price .coupon-bg span {
              line-height: 1; }
          .page-home .types-box .goods-content .list .goods-info .price .rebate {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 2.6666666667vw;
            min-width: 13.0666666667vw;
            height: 4.8vw;
            background: #2BCBF0;
            border: 0.2133333333vw solid #2BCBF0;
            border-radius: 1.0666666667vw;
            padding: 0 1.3333333333vw; }
            .page-home .types-box .goods-content .list .goods-info .price .rebate span {
              line-height: 1; }

/*# sourceMappingURL=home.css.map */
